<div style="background:green">
    <button id="refresh-inbox">Refresh inbox</button>

    {{? it.currentPage}}Page {{=it.currentPage}}{{?}}

    {{? it.hasNewerThreads}}
        {{? it.currentPage !== 2}}
            <a href="#inbox/1">newest</a>
        {{?}}

        <a href="#inbox/{{=it.currentPage-1}}">newer</a>
    {{?}}
    
    {{? it.hasOlderThreads}}
        <a href="#inbox/{{=it.currentPage+1}}">older</a>
    {{?}}

    <form id="page-form">
        <input type="text" id="page-number-input" placeholder="page" />

        <input type="submit" value="Go to page">
    </form>

    <div id="loading-inbox" style="display: none; position: absolute; bottom: 0; right: 0; background: red; color: #fff;">LOADING INBOX MESSAGES</div>
</div>

<div id="message-summaries"></div>