<div style="border: 1px solid gray;">
    <a href="#inbox">Back to Inbox</a>
    <button id="refresh-thread">Refresh thread</button>

    {{~it.messages :value:index}}
        <div><b>from {{=value.from}} at {{=value.time}}</b></div>
        <div>{{=value.text}}</div>
    {{~}}

    <form id="sms-form">
        <textarea id="sms-textarea" placeholder="Enter a message"></textarea>

        <input type="submit" value="Send">
    </form>

    <div id="loading-thread" style="display: none; position: absolute; bottom: 0; right: 0; background: red; color: #fff;">REFRESHING THREAD</div>
</div>